.container.about p {
  text-align: justify;
}

.container.about {
  align-items: flex-start;
  padding: 0px;
}

.about .right {
  margin: 5%;
}

.container.about img {
  width: 71vw;
  object-fit: contain;
}

.container.about .img-container {
  height: 100%;
  overflow: hidden;
  width: 90%;
}

@media only screen and (max-width: 425px) {
  .container.about img {
    display: none;
  }

  .container.about .img-container {
    display: none;
  }

  .about .right {
    margin: 200px 20px 20px 20px !important;
    width: 100%;
    /* margin-top: 400px; */
  }
}
