.container.journal p{
  font-weight: 100;
  font-size: 16px;
}

.container.journal .big-table {
  display: flex;
  margin-top: 100px;
  margin-right: 180px;
}

.container.journal .right, .container.journal .left{
  margin: 50px;
  display: table;
  width: 200px;
}

@media only screen and (max-width: 425px){

  .container.journal .right, .container.journal .left {
    color: black;
    margin: 20px;
    width: 50%;
  }

  .container.journal .bemper-kiri {
    display: none;
  }

  .container.journal .big-table {
    /* display: none; */
    margin: 100px 0px 0px 0px;
  }

}