a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

li {
  margin-right: 20px;
  /* display: flex; */
}

.nav-container {
  width: 100%;
  position: absolute;
  // border: 1px solid red;

  a {
    font-weight: 100;
  }

  .inner-nav-container {
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px 0px 20px;
  }
}

.nav-logo {
  /* border: 1px solid purple; */
}