@media only screen and (max-width: 425px) {
  .container_project_parallax {
    display: block;
    position: relative;
    section {
      min-height: 100vh;
      width: 100%;
      margin: 0px;
      display: block;
      position: relative;
      overflow: hidden;
    }
  }

  .last {
    background-color: blue;
    color: white;
    position: relative;
    .kelas-el-video {
      max-height: 100vh;
    }
  }
  .layer-story-box {
    position: relative;
    padding: 0 20px 40px 20px;
    overflow: hidden;
    max-height: 100vh;
    .layer-story-pinned-content {
      display: block;
      position: relative;
      .layer-story-image-wrapper {
        position: relative;
        margin: 20px 0;
        max-width: 100%;
        .image_container {
          width: 100vw;
          max-width: 100%;
          height: 100vh;
          position: absolute;
          top: 20px;
          left: unset;
          padding: 20px 0;
          margin: 0;
          &.markup_wrapper {
            font-weight: 100;
            font-size: 14px;
            color: #444;
            overflow: hidden;
            text-overflow: ellipsis;
            top: 40vh;
            max-height: 50vh;
            text-overflow: ellipsis;
            p {
              margin-block-start: unset;
              margin-block-end: unset;
            }
          }
          span {
            height: 100%;
            overflow: scroll;
            display: inline-block;
          }
        }
      }

      .layer-story-content-wrapper {
        position: absolute;
        top: 73px;
        max-width: 100%;
        right: 0;
        left: 0;
        height: 100%;
        z-index: 200;
        // color: white;
        img,
        video {
          position: relative;
          top: 0px;
          left: 0;
          width: 100%;
          max-width: 100vw;
          z-index: 2;
        }
      }
      .layer-story-content-wrapper.active {
        transform: translateY(0);
        opacity: 1;
        position: relative;
      }

      .woy_scroll {
        display: none;
        width: 50px;
        right: 0;
        bottom: 0;
        width: 100px;
        height: 100px;
        position: fixed;
        .woy_scroll_2 {
          width: 50px;
          right: 0;
          bottom: 0;
          position: relative;
        }
      }
    }
  }

  .fuu {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: -90px;
  }
}
