@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-sm {
  font-size: 12px;
}

.cursor-pointer {
  cursor: pointer;
}

.journal {
 color: #9d9fa1;
}


.journal .bubble p:hover {
  color: black !important;
}

.container.about {
  align-items: flex-start;
  padding: 100px;
}

.about .right {
  margin: 100px;
}