@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-sm {
  font-size: 12px;
}

.cursor-pointer {
  cursor: pointer;
}

.journal {
 color: #9d9fa1;
}


.journal .bubble p:hover {
  color: black !important;
}

.container.about {
  align-items: flex-start;
  padding: 0px;
}

.about .right {
  margin: 100px;
}

.foo {
  width: 100%;
  min-height: 100%;
  object-fit: contain;
}

.scrollbar-hide {
  overflow: hidden
}

.box {
  height: 50px;
  width: 50px;
  transition: transform 0.7s;
  position: absolute;
}

.container.projects {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.playground-container {
  padding: 50px;
  width: 90%;
  height: 80%;
}

.sorting-btn {
  margin: 90px;
  cursor: pointer;
}

button.learn-more {
  margin: 0px;
  padding: 0px;
  border: none;
  background: #97be6b;
  cursor: pointer;
  width: 150px;
  height: 30px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-top: 40px;
  box-sizing: border-box;
  text-align: center;
}

.container.contact {
  padding: 0;
}

.bar {
  display: flex;
  padding: 50px;
}