@import "stylesheets/Projects.scss";
@import "stylesheets/ProjectsPhone.scss";

@import "stylesheets/Project.scss";
@import "stylesheets/ProjectPhone.scss";

@import "stylesheets/Section.scss";

@import "stylesheets/NavList.scss";
@import "stylesheets/NavListPhone.scss";

@import "stylesheets/Journal.scss";
@import "stylesheets/JournalPhone.scss";


@import "stylesheets/Contact.scss";
@import "stylesheets/ContactPhone.scss";

@import "stylesheets/About.scss";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: white;
}

.text-sm {
  font-size: 12px;
}

.cursor-pointer {
  cursor: pointer;
}

.journal {
 color: #9d9fa1;
}


.journal .bubble p:hover {
  color: black !important;
}

/* .foo {
  width: 100%;
  min-height: 100%;
  object-fit: contain;
} */

.scrollbar-hide {
  overflow: hidden
}


button.learn-more {
  margin: 0px;
  padding: 0px;
  border: none;
  background: #97be6b;
  cursor: pointer;
  width: 150px;
  height: 30px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-top: 40px;
  box-sizing: border-box;
  text-align: center;
}

.filter-item {
  margin-right: 15px;
}

.section {
  /* border-bottom: 3px solid #d0dadd; */
}